<div class="flex fixed w-full md:w-auto  ">
  <div id="mySidebar" class=" md:min-h-screen bg-[#111] w-[100%] md:w-0 z-10 flex flex-col overflow-hidden	">
    <!-- Content of the sidebar -->
    <a href="#" class="sidebar_user text-center text-lg md:text-xl font-sans my-6 text-slate-300 ">	
      <i class="fa fa-user" aria-hidden="true"></i>
      <h2>{{ user_data.user_name }}</h2>
    </a>
    <div class="font-mono flex text-base md:text-lg gap-x-5 px-3 mt-0 md:mt-10 md:flex-col text-slate-400 flex-wrap">
        <a href="/dashboard" class=" py-2 md:px-10 m-auto md:m-0  hover:bg-[#222222] hover:text-gray-100">DASHBOARD</a>
        <a href="/converstaions" class=" py-2 md:px-10 m-auto md:m-0 hover:bg-[#222222] hover:text-gray-100">PREVIOUS CHATS</a>
        <a href="/user_logout" class=" py-2 md:px-10 m-auto md:m-0  hover:bg-[#222222] hover:text-gray-100">LOGOUT</a>
    </div>
  </div>
  <div id="main">
    <button class="text-3xl my-5 mx-8 openbtn hidden md:block" id="openbtn" onclick="openNav()">☰</button>
    <button id="closebtn" class="closebtn hidden mx-3 my-3 text-4xl" onclick="closeNav()">×</button>
  </div>

  <script>
    // Sidebar navigation functions
    function openNav() {
    //   document.getElementById("mySidebar").style.width = "100vh";
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("openbtn").style.display = "none";
      document.getElementById("closebtn").style.display = "block";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
      document.getElementById("openbtn").style.display = "block";
      document.getElementById("closebtn").style.display = "none";
    }
  </script>
</div>
